h1 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
}
.navigation-catalog {
    margin-top: 60px;
}
.path {
    margin-top: 6px;
}
.navigation-catalog .path_1{
    margin-right: 16px;
}
.navigation-catalog .path_3 {
    margin-left: 24px;
}
.blog {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 380px;
        -ms-flex: 380px;
            flex: 380px;
    margin-top: 50px;
}
.card-title {
    font-family: "Montserrat", sans-serif; 
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    text-transform: initial; 
    margin-top: 7px;   
}
.blog .card {
    width: 380px;
    margin-bottom: 20px;
    margin-right: 20px;
    cursor: pointer;
}
.blog .card:nth-child(3), .blog .card:nth-child(6) {
    margin-right: 0px;
}
.blog .card .date {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: #818181;
    margin: 0;;
    margin-top: 15px;
    font-weight: normal;
}
.blog .card:hover .card-title {
    text-decoration: underline;
}
.blog .card .card-text {
    margin: 0;
    margin-top: 15px;
    font-size: 18px;
    font-weight: normal;
    line-height: 24px;
    margin-bottom: 18px;
}
.page_navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 16px;
}
.pages {
    margin: 0 auto;
}
.pages .page {
    display: inline;
    margin: 0;
    margin-right: 61px;
    margin-top: 3px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    -webkit-transition: opacity.2s;
    -o-transition: opacity.2s;
    transition: opacity.2s;
    cursor: pointer;
}
.pages .page:nth-child(4) {
    margin-right: 0px;
}
.pages .page.active {
    color: #C29974;
}
.pages .page:hover {
    opacity: .5;
}
.left_arrow {
    float: left;
    cursor: pointer;
}
.left_arrow:active {
    opacity: .5;
}
.right_arrow {
    float: right;
    cursor: pointer;
}
.right_arrow:active {
    opacity: .5;
}
.footer {
    margin-top: 56px;
}