.products-title {
    font-family: 'Montserrat', sans-serif;   
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;   
    color: #1E0606;
}
.navigation-catalog {
    margin-top: 60px;
}
.path {
    margin-top: 6px;
}
/*catalog*/
.catalog-item-title{
    font-family: 'Montserrat', sans-serif;   
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;   
    color: #1E0606;
}
.catalog-pro .catalog-item-title {
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    color: #FFFFFF;
    text-decoration: inherit;
    margin-top: -170px;
    margin-left: 54px;
    margin-right: 53px;
    text-align: center;
}
.catalog-pro{    
    margin-top: 50px;
    margin-left: -10px;
}
.catalog-wrap {
    max-width: 1120px;
    max-height: 563px;
}
.right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1080px;
    max-height: 270px;
    margin-top: 18px; 
    margin-left: 29px;   
}
.right {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}
.catalog-pro .toys-sale {
    margin-top: -157px;
    margin-left: 107px;
}
.catalog-pro .accessories {
    margin-top: -155px;
    margin-left: 44px;
}
.catalog-item:last-child {
    margin-right: 20px;
}
.left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    
    margin-top: 25px;
}
.catalog-item{
    position:relative
}
.catalog-item {
    width: 280px;
    margin-right: 10px;
    margin-left: 10px;
}
.catalog-item-title{
    position:absolute
}
/*product*/
.product {
    margin-top: 57px;
    margin-left: 201px;
}
.product{
    width: 680px;
    height: 256px;
}
.product-description {
    margin-top: 24px;
}
.middle-of-text {
    margin-top: 14px;
}
.end-of-text {
    margin-top: 15px
}
.footer {
    margin-top: 52px;
}